%h1 Create Business
%hr
.row-fluid
  .span12
    = simple_form_for(:business, :url => businesses_path, class: 'form-horizontal', html: {multipart: true}) do |f|
      = f.error_notification
      .span6
        .area
          .heading
            .form-inputs
              %fieldset
                = f.input :name, :required => true
                = f.input :business_category, :required => true, input_html: { id: 'category-typeahead', class: 'typeahead'}
                %input{ type: 'hidden', name: 'selected_category', id: 'category_id'}
                = f.input :phone
                = f.input :fax
                = f.input :email, :required => true, :autofocus => true
                = f.input :photo, :as => :file, label: 'Business Logo'
                = f.input :website
                = f.input :location, :required => true, input_html: { id: 'city-typeahead', class: 'typeahead'}
                %input{ type: 'hidden', name: 'selected_location', id: 'location_id'}
                = f.input :address1
                = f.input :address2
                = f.input :postal_code

                = f.text_area :description
                = f.text_area :product_services
                = f.text_area :specialties
                = f.text_area :brands

            .form-actions
              = f.button :submit, "Create Business"