- is_starter = message.sender == @starter
.row
  - if is_starter
    .span2
      .msg-sender.pull-right
        = link_to message.sender do
          = image_tag message.sender.photo.url(:thumb), title: message.sender.name, alt: message.sender.name, class: 'img-circle'

    .span6
      .msg-body.span4.pull-left
        %p.left-bubble
          %i.icon-quote-left.muted
          = raw(message.body)
        %p.pull-right
          = timeago(message.updated_at)
  - else
    .span6
      .msg-body.span4.pull-right
        %p.right-bubble
          %i.icon-quote-left.muted
          = raw(message.body)
        %p.pull-left
          = timeago(message.updated_at)
    .span2
      .msg-sender.pull-left
        = link_to message.sender do
          = image_tag message.sender.photo.url(:thumb), title: message.sender.name, alt: message.sender.name, class: 'img-circle'
