= simple_form_for(:profile, :as => :profile, :url => profiles_create_path, html: {multipart: true}) do |f|
  %fieldset#work_experiences
    %legend Work History
    %div.well.span8.work-experience
      .row
        .span3
          = f.input :title, :required => true, :autofocus => true, class: 'span3', input_html: { name: 'work[][title]'}
          = f.input :company, :required => true, :autofocus => true, class: 'span3', input_html: { name: 'work[][company]'}
          = f.input :work_location, :required => true, :autofocus => true, class: 'span3', input_html: { name: 'work[][location]'}
          .input-prepend.input-append.control-group.required
            %label.control-label{ for: 'profile_work_start_month'}  Start Date
            .controls
              = f.input_field :work_start_month, collection:  Date::MONTHNAMES.compact, class: 'span2', priority: 'January', name: 'work[][start_month]'
              = f.input_field :work_start_year, collection: (Date.today.year - 90)..(Date.today.year), class: 'span1', name: 'work[][start_year]'
          .input-prepend.input-append.control-group.required
            %label.control-label{ for: 'profile_work_end_month'}  End Date
            .controls
              = f.input_field :work_end_month, collection:  Date::MONTHNAMES.compact, class: 'span2', priority: 'January', name: 'work[][end_month]'
              = f.input_field :work_end_year, collection: (Date.today.year - 90)..(Date.today.year), class: 'span1', name: 'work[][end_year]'
        .span5
          = f.input :description, :as => :text, input_html: {rows: 15, class: 'input-xlarge span5', name: 'work[][description]'}

    .span3
      = link_to 'Add Work Experience', '#', id: 'add_more_experience', class: 'btn btn-large btn-block btn-primary'

  %fieldset#educations
    %legend Education
    %div.well.span5.education.form-horizontal
      .row
        .span3
          = f.input :course, :required => true, :autofocus => true, class: 'span3'
          = f.input :school, :required => true, :autofocus => true, class: 'span3'
          = f.input :school_location, :required => true, :autofocus => true, class: 'span3'
          .input-prepend.input-append.control-group.required
            %label.control-label{ for: 'profile_school_start_month'}  Start Date
            .controls
              = f.input_field :school_start_month, collection:  Date::MONTHNAMES.compact, class: 'span2', priority: 'January'
              = f.input_field :school_start_year, collection: (Date.today.year - 90)..(Date.today.year), class: 'span1'
          .input-prepend.input-append.control-group.required
            %label.control-label{ for: 'profile_school_end_month'}  End Date
            .controls
              = f.input_field :school_end_month, collection:  Date::MONTHNAMES.compact, class: 'span2', priority: 'January'
              = f.input_field :school_end_year, collection: (Date.today.year - 90)..(Date.today.year), class: 'span1'

  %fieldset#resume
    %legend Resume
    .alert.alert-block
      %h4
        = f.input :resume, :as => :file, label: false
      %p Make sure it is updated