-#.participants
-#  %h4 Participants
-#  - @conversation.recipients.each do |recp|
-#    = link_to recp do
-#      = image_tag(recp.photo.url(:thumb), :title=>recp.name, :alt => recp.name, class: 'img-circle')
%h1
  %i.icon-quote-left.muted
  = @conversation.subject
%hr
.span8
  .conversation
    - @receipts.each do |receipt|
      = render receipt.message, :locals => { starter: @starter }
  - unless @box.eql?'trash'
    .reply-form
      = form_for :message, url: conversation_path(@conversation), :method => :put do |f|
        - if @receipt and @receipt.errors.any?
          .error
            %h2
              = pluralize(@receipt.errors.count, "error")
              prohibited this message from being sent:
            %ul
              - @receipt.errors.full_messages.each do |msg|
                %li
                  = msg
        .editor
          = f.text_area :body, class: 'span6', placeholder: "Message...", rows: 3
        .actions
          = submit_tag 'Reply', :name => :reply_all, :class => "btn"