.blast
  .row
    .span1
      %a.thumbnail{:href => "#"}
        %img{:alt => "", :src => blast.blaster.photo.url(:thumb)}/
    .span6
      %p
        %i.icon-quote-left.icon-muted
        = blast.body
  .row
    .span8
      %p
      %p.muted
        %small
          - if show_user
            %i.icon-user
            = link_to blast.blaster.full_name, blast.blaster
            |
          - if show_location
            %i.icon-map-marker
            = link_to right_location(blast).to_s, right_location(blast)
            |
          %i.icon-time
          = timeago(blast.created_at)
          |
          %i.icon-comment
          - comment_count = blast.comments.length
          = link_to comment_count == 0 ? 'Comment' : "#{comment_count} Comments", '#', class: 'list-comments'
          |
          %i.icon-anchor
          = link_to 'Permalink', blast

  .row.comments-list
    .span8
      - blast.comments.recent.limit(10).all.each do |comment|
        .comment.row{style: 'margin-top: 20px;'}
          .span1
            = image_tag comment.blaster.photo.url(:thumb), class: 'img-circle'
            -#= link_to comment.blaster.name, comment.blaster
          .span6.left-bubble
            = comment.comment
            .pull-right
              =timeago(comment.created_at)

      .span8{style: 'margin-top: 20px;'}
        = form_for :comment, "accept-charset" => "UTF-8", :url => blast_comment_path(blast), :method => "POST" do |f|
          = f.text_area :comment, :placeholder => "Type in your comment", :rows => "1", class: 'span6'
          %button.btn.btn-info{:type => "submit"}
            Post
  %hr/