.btn-toolbar
  .btn-group
    = link_to '/contacts/gmail', class: "btn btn-default" do
      %i.icon-google-plus
    = link_to '/contacts/yahoo', class: "btn btn-default" do
      %strong Y!
    = link_to '/contacts/hotmail', class: "btn btn-default" do
      %i.icon-envelope
    = link_to '#', class: "btn btn-default" do
      %i.icon-linkedin
    = link_to '#', class: "btn btn-default" do
      %i.icon-facebook