!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Tsekmark"
      %meta{:content => content_for?(:description) ? yield(:description) : "Tsekmark", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #wrap
      = render 'layouts/navigation'
      .container
        = render 'layouts/messages'
        .row.jumbotron
          .span12
            .hero-unit
              %h1
                TsekMark
              = link_to omniauth_authorize_path(User, 'facebook'), class: "btn btn-large btn-info btn-facebook", style: 'margin-bottom: 20px;' do
                Sign in with Facebook
        .row
      #push
    = render partial: 'layouts/footer'
    = render partial: 'layouts/page_specific_js'
